  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5em;
    background-color: silver;
    font size: 2.5em;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.05em;
    z-index: 1;

  }

  nav a {
    text-decoration: none;
    font-size: 36px;
    color: black;
    padding: 25px;

  }

  body {
    margin: 0 20px 0 0;
    font-family: amatic sc;
    text-align: center;

  }


  h1 {
    margin-top: 100px;

}

  a {
    text-decoration: none;

}

  a:hover {
    color: #2A9D8F;

}

  #example1 {
    border-radius: 50% ;
}

  p,figcaption {
    font-family: abel;
    font-size: 20px;

}

   footer {
     margin-top: 50px;
     width: 100vw;
     height: 10em;
     background-color: silver;

   }

   footer a {

     padding: 0px 45px;
     line-height: 90px;

   }


   @media only screen and (min-width: 460px) {

     body {
       background-color: #FAE3E3;

     }

     h1 {
       font-weight: bold;
       font-size: 40px;

     }

     h2 {
       font-weight: bold;
       font-size: 30px;

     }

     footer {
       margin-top: 50px;
       width: 100vw;
       height: 10em;
       background-color: silver;

     }

   }


    @media only screen and (min-width: 660px)  {

      body {
       background-color: #CFA5B4;

      }

      h1 {
        font-weight: bold;
        font-size: 50px;

      }

      h2 {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 0px;

      }

      /*figure, figcaption {
        max-width: 500px;
        display: inline-block;

      }*/

      .tenor-gif-embed {

        max-width: 500px;
        display: inline-block;

      }

      footer a {

      }

    }


    @media only screen and (min-width: 860px) {

      body {
       background-color: #846B8A;

      }

      h1 {
        font-weight: bold;
        font-size: 55px;

      }

      h2 {
        font-weight: bold;
        font-size: 45px;
        margin-bottom: 0px;

      }



      footer a {

      padding-bottom: 0px;

      }

    }
